@media (min-width: 991px) {
    .logo-header img {
        width: 100% !important;
        height: 80px !important;
    }
}
@media (max-width: 768px) {
    .logo-header img {
        width: 60px !important;
        height: 80px !important;
    }
}
@media (min-width: 1150px) {
    .faq-section .tf-accordion-wrap > .content {
        width: 78.333333%;
    }
}
@media (min-width: 768px) {
    .testimonial-item.style-column .author {
        margin-bottom: 10px;
    }
}

.blog-detail .blog-detail-main .blog-detail-main-heading .image img {
    height: 450px !important;
}
.blog-detail .blog-detail-main .desc {
    text-align: center;
}

.category-list-section .tf-sw-collection .swiper-slide img {
    border-radius: 6px !important;
    width: 100% !important;
    height: 300px !important;
}
collection-item .collection-image {
    border-radius: 6px !important;

}
.category-list-section.flat-spacing-14{
    padding-top: 30px !important;
}

.category-list-section .collection-item{
    width: 300px !important;
    height: 300px !important;
}
@media (max-width: 576px) {
    .modal-img img {
        /* width: 60%; */
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        margin-top: 0px;
        border-radius: 4px;
    }
}

.hover-img .img-style img {
    width: 500px !important;
    height: 270px !important;
    object-fit: cover;
    -webkit-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18);
    transition: transform 1.5s cubic-bezier(0, 0, 0.44, 1.18);
}

.variant-picker-values input:checked + label:not(.color-btn) {
    width: auto;
    border-color: var(--main);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1019607843);
}

.product-quickview-modal .item img{
    height: 500px !important;
    object-fit: cover !important;
}

.footer .footer-logo img{
    height: 80px;
    width: 100%;
}
