{% extends "web/base.html" %}
{% load static %}
{% block content  %}
<link rel="stylesheet" href="{% static 'web/css/about.css' %}">
        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="heading text-center">About Us</div>
            </div>
        </div>
 
    <div class="makeup-section mb-40 mt-40">
        <div class="container">
            <div class="makeup-top-item">
                <div class="row align-items-center justify-content-center g-0 gy-4 mt-2">
                    <div class="col-lg-6">
                        <div class="makeup-img ">
                            <img src="{% static 'web/images/about.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="makeup-content">
                         <p>At Balad Perfumes, we believe fragrance is a powerful expression of identity, evoking emotions and memories with every note. Inspired by timeless traditions yet crafted for the modern world, our perfumes blend the finest ingredients to create sophisticated, long-lasting scents. Each fragrance is thoughtfully composed to capture elegance, confidence, and individuality, making every moment feel extraordinary.</p>
                         <p>With a deep commitment to quality and craftsmanship, Balad Perfumes reimagines classic perfumery with a contemporary touch. Whether you're seeking a bold signature scent or a subtle everyday aroma, our expertly crafted blends offer an unforgettable olfactory journey. Experience the art of fine fragrance with Balad Perfumes—where tradition and modern luxury come together seamlessly.</p>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
     <!-- Icon box -->
    <section class="flat-spacing-11 pb_0 flat-iconbox wow fadeInUp" data-wow-delay="0s">
        <div class="container">
            <div class="wrap-carousel wrap-mobile">
                <div dir="ltr" class="swiper tf-sw-mobile" data-preview="1" data-space="15">
                    <div class="swiper-wrapper wrap-iconbox">
                        <div class="swiper-slide">
                            <div class="tf-icon-box style-border-line text-center">
                                <div class="icon">
                                    <i class="icon-shipping"></i>
                                </div>
                                <div class="content">
                                    <div class="title">Free Shipping</div>
                                    <p>Free shipping over order $120</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tf-icon-box style-border-line text-center">
                                <div class="icon">
                                    <i class="icon-payment fs-22"></i>
                                </div>
                                <div class="content">
                                    <div class="title">Flexible Payment</div>
                                    <p>Pay with Multiple Credit Cards</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tf-icon-box style-border-line text-center">
                                <div class="icon">
                                    <i class="icon-return fs-22"></i>
                                </div>
                                <div class="content">
                                    <div class="title">14 Day Returns</div>
                                    <p>Within 30 days for an exchange</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tf-icon-box style-border-line text-center">
                                <div class="icon">
                                    <i class="icon-suport"></i>
                                </div>
                                <div class="content">
                                    <div class="title">Premium Support</div>
                                    <p>Outstanding premium support</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="sw-dots style-2 sw-pagination-mb justify-content-center"></div>
            </div>
        </div>
    </section>
    <!-- /Icon box -->
 
    {% if faqs %}
     <!-- FAQ -->
     <section class="flat-spacing-11 faq-section">
        <div class="container">
            <div class="flat-title wow fadeInUp" data-wow-delay="0s">
                <span class="title">FAQ</span>
                <p class="sub-title">Frequently asked questions</p>
            </div>
            <div class="tf-accordion-wrap d-flex justify-content-center">
                <div class="content">
                    <div class="flat-accordion style-default has-btns-arrow mb_60">
                        {% for faq in faqs %}
                        <div class="flat-toggle {% if forloop.first %}active{% endif %}">
                            <div class="toggle-title {% if forloop.first %}active{% endif %}" onclick="toggleAccordion(this)">
                                {{ forloop.counter }}. {{ faq.question }}
                            </div>
                            <div class="toggle-content" style="{% if forloop.first %}display: block;{% else %}display: none;{% endif %}">
                                <p>{{ faq.answer }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                   
              
                </div>
            </div>
        </div>
    </section>
    <!-- /FAQ -->
    {% endif %}

    {% if testimonials %}
    <!-- Testimonial -->
    <section class="flat-spacing-5 pt_0 flat-testimonial">
        <div class="container">
            <div class="flat-title wow fadeInUp" data-wow-delay="0s">
                <span class="title">Happy Clients</span>
                <p class="sub-title">Hear what they say about us</p>
            </div>
            <div class="wrap-carousel">
                <div dir="ltr" class="swiper tf-sw-testimonial" data-preview="3" data-tablet="2" data-mobile="1" data-space-lg="30" data-space-md="15">
                    <div class="swiper-wrapper">
                        {% for testimonial in testimonials %}
                        <div class="swiper-slide">
                            <div class="testimonial-item style-column wow fadeInUp" data-wow-delay="0s">
                                <div class="text">
                                   {{testimonial.description}}
                                </div>
                                <div class="author">
                                    <div class="name">{{testimonial.name}}</div>
                                    <div class="metas">{{testimonial.position}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="nav-sw nav-next-slider nav-next-testimonial lg"><span class="icon icon-arrow-left"></span></div>
                <div class="nav-sw nav-prev-slider nav-prev-testimonial lg"><span class="icon icon-arrow-right"></span></div>
                <div class="sw-dots style-2 sw-pagination-testimonial justify-content-center"></div>
            </div>
        </div>
    </section>
    <!-- /Testimonial -->
    {% endif %}
    
    {% if brands %}
    <!-- Brand -->
    <section class="flat-spacing-12 pt_0">
        <div class="wrap-carousel wrap-brand wrap-brand-v2 autoplay-linear">
            <div dir="ltr" class="swiper tf-sw-brand border-0" data-play="true" data-loop="true" data-preview="6" data-tablet="4" data-mobile="2" data-space-lg="30" data-space-md="15">
                <div class="swiper-wrapper">
                    {% for brand in brands %}
                    <div class="swiper-slide">
                        <div class="brand-item-v2">
                            <img class="lazyload" data-src="{{brand.brand_image.url}}" src="{{brand.brand_image.url}}" alt="{{brand.brand_name}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- /Brand -->
    {% endif %}

    {% block js %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>

    <script src="{% static 'web/js/product_detail.js' %}"></script>
    <div id="cart-modal" style="">
        {% include "web/includes/cart_modal.html" %}
    </div>
    <script src="{% static 'web/js/shop-filter.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.all.min.js"></script>
    {% include "web/includes/search.html" %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function setEqualHeight() {
                // Get all testimonial items
                const testimonialItems = document.querySelectorAll('.testimonial-item');
                let maxHeight = 0;
        
                // Reset heights to auto before recalculating
                testimonialItems.forEach(item => {
                    item.style.height = 'auto'; // Reset height to auto
                    maxHeight = Math.max(maxHeight, item.offsetHeight); // Get the max height
                });
        
                // Set all testimonial items to the max height
                testimonialItems.forEach(item => {
                    item.style.height = `${maxHeight}px`;
                });
            }
        
            // Call the function to set equal heights
            setEqualHeight();
        
            // Adjust on window resize to handle dynamic content or window size changes
            window.addEventListener('resize', setEqualHeight);
        });
    </script>
{% endblock  %}

{% endblock %}
   

  