{% extends "web/base.html" %}
{% load static %}
{% block content  %}
<link rel="stylesheet" href="{% static 'web/css/about.css' %}">
        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="heading text-center">About Us</div>
            </div>
        </div>
 
    <div class="makeup-section mb-40 mt-40">
        <div class="container">
            <div class="makeup-top-item">
                <div class="row align-items-center justify-content-center g-0 gy-4 mt-2">
                    <div class="col-lg-6">
                        <div class="makeup-img hover-img">
                            <img src="{% static 'web/images/kmt-about.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="makeup-content">
                         
                            <p>KMT Silks, the largest clothing showroom in Malappuram, has sunk its roots into the hearts of the customers so deep that it is one of the most trusted brands in Kerala today. Our very first showroom was opened in Perinthalmanna in 1996 which continues its quality with dignity even after three glorious decades of dedicated service. Be it in the case of products, services or shopping experience, KMT Silks has always been inclined to provide the customers with the best in all kinds.

                                We push our boundaries so as to offer you limitless possibilities. As we understood the importance of expanding our customers’ horizons, our products have also been made available on our online shopping platform which enables product / price comparison, flexible payment transaction, and most importantly, faster purchase.</p>
                          
                        </div>
                    </div>
                </div>
            </div>
            

    
           <!-- Vision and Core Values Section -->
    <div class="row mt-4">
        <div class="col-sm-12 mb-3">
            <div class="card border-0 shadow-lg vision" >
                <div class="card-body vision_one">
                    <h5 class="card-title  font-weight-bold" >Vision</h5>
                    <div class="under-score"></div><br>
                    <p class="card-text" >Our vision is to become a trusted and beloved brand that sets the standard for modern retail fashion. We aim to build a clothing shop that serves as an inclusive space where style meets comfort and where our customers feel at home.</p>
                </div>
            </div>
        </div>
 
    </div>
    
    <!-- Mission Section -->
    <div class="card w-85 mt-2 border-0 shadow-lg vision" >
        <div class="card-body">
            <!-- Mission Title -->
            <h5 class="card-title font-weight-bold" >Mission</h5>
            <div class="under-score"></div><br>
    
            <!-- Mission Description -->
            <p class="card-text mission-text" >At Kmt Silks our mission is to provide an exceptional shopping experience that blends style, comfort, and affordability. We are committed to offering a diverse range of clothing that caters to various tastes, sizes, and preferences, ensuring that every customer finds pieces that reflect their individuality. By sourcing high-quality materials and staying on top of the latest fashion trends, we aim to create a collection that not only makes our customers look good but also feel confident in their choices. We strive to make fashion accessible for all, offering both timeless classics and contemporary pieces that are as versatile as the people who wear them. Our dedication goes beyond just selling clothes; we believe in fostering a community where everyone feels welcome, valued, and empowered.</p>
    
            <!-- Mission List with Icons -->
          <br>
        </div>
    </div>
    <br>
    
    
    
        </div>
    </div>
    
    <section class="flat-spacing-21">
        <div class="container">
            <div class="row">
                <!-- Branch 1 -->
                <div class="col-md-6 mt-2">
                    <div class="card p-4 border-0 shadow-lg">
                        <div class="card-body">
                            <h5 class="mb-3">Perinthalmanna Store</h5>
                            <div class="mb-3">
                                <p class="mb-1"><strong>Address</strong></p>
                                <p>KMT Silks, Kozhikkode - Palakkad Bypass Rd, opposite Ksrtc Bus Stand, Shanti Nagar, Perinthalmanna, Kerala 679322</p>
                            </div>
                            <div class="mb-3">
                                <p class="mb-1"><strong>Phone</strong></p>
                                <p>Lan : 04933-226893 <br> Mobile : +91 9207005600 </p>
                            </div>
                            <div class="mb-3">
                                <p class="mb-1"><strong>Email</strong></p>
                                <p>balad@gmail.com</p>
                            </div>
                            <div class="mb-3">
                                <iframe 
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27785.134681146388!2d76.20850953476561!3d10.974905300000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7cdac8012e9bb%3A0x8a3904a3d1e93c1c!2sKMT%20Silks%2C%20Perinthalmanna!5e1!3m2!1sen!2sin!4v1738729922383!5m2!1sen!2sin"
                                    width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy">
                                </iframe>
                            </div>
                          
                        </div>
                    </div>
                </div>
    
                <!-- Branch 2 -->
                <div class="col-md-6 mt-2">
                    <div class="card p-4 border-0 shadow-lg">
                        <div class="card-body">
                            <h5 class="mb-3">Kottakkal Store</h5>
                            <div class="mb-3">
                                <p class="mb-1"><strong>Address</strong></p>
                                <p>Near Ayurveda College Calicut Road, Malappuram Edarikkode, Post, Kottakkal, Kerala 676501</p>
                            </div>
                            <div class="mb-3">
                                <p class="mb-1"><strong>Phone</strong></p>
                                <p>Lan : 0483-2962266<br> Mobile : +91 7994440408</p>
                            </div>
                            <div class="mb-3">
                                <p class="mb-1"><strong>Email</strong></p>
                                <p>balad@gmail.com</p>
                            </div>
                            <div class="mb-3">
                                <iframe 
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3472.881967860433!2d75.98311687441546!3d10.996989655087887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7b3f3cef6ed43%3A0x21967c4ae71277dd!2sKMT%20Silks%20Kottakkal!5e1!3m2!1sen!2sin!4v1738730124137!5m2!1sen!2sin"
                                    width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy">
                                </iframe>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>  
            
           

        </div>
    </section>    

{% endblock %}
   

  