{% extends "web/base.html" %}
{% load static %}
{% block content  %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.15.9/sweetalert2.css">
  <!-- page-title -->
    <div class="tf-page-title style-2">
            <div class="container-full">
                <div class="heading text-center">Contact Us</div>
            </div>
        </div>
        <!-- /page-title -->
        <!-- map -->
    
        <!-- /map -->
        <!-- form -->
        {% comment %} <section class="flat-spacing-21">
            <div class="container">
                <div class="tf-grid-layout gap30 lg-col-2">
                    <div class="tf-content-left">
                        <h5 class="mb_20">Visit Our Store</h5>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Address</strong></p>
                            <p>Perinthalmanna</p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Phone</strong></p>
                            <p>Lan : 04933-226893 <br> Mobile : +91 9207005600 </p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Email</strong></p>
                            <p>balad@gmail.com</p>
                        </div>
                       
                        <div>
                            <ul class="tf-social-icon d-flex gap-20 style-default">
                                <li><a href="#" class="box-icon link round social-facebook border-line-black"><i class="icon fs-14 icon-fb"></i></a></li>
                                <li><a href="#" class="box-icon link round social-twiter border-line-black"><i class="icon fs-12 icon-Icon-x"></i></a></li>
                                <li><a href="#" class="box-icon link round social-instagram border-line-black"><i class="icon fs-14 icon-instagram"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>

             
                    <div class="tf-content-right">
                        <h5 class="mb_20">Get in Touch</h5>
                        <p class="mb_24">If you’ve got great products your making or looking to work with us then drop us a line.</p>
                        <div>
                            <form class="form-contact" id="contactForm" action="" method="post">
                                {% csrf_token %}
                                <div class="d-flex gap-15 mb_15">
                                    <fieldset class="w-100">
                                        {{form.name}}
                                    </fieldset>
                                    <fieldset class="w-100">
                                       {{form.email}}
                                    </fieldset>
                                </div>
                                <div class="d-flex gap-15 mb_15">
                                    <fieldset class="w-100">
                                        {{form.phone}}
                                    </fieldset>
                                    
                                </div>
                                <div class="d-flex gap-15 mb_15">
                                <fieldset class="w-100">
                                    {{form.subject}}
                                 </fieldset>
                                </div>
                               
                                <div class="mb_15">
                                    {{form.message}}
                                </div>
                        
                                <div class="send-wrap">
                                    <button type="submit" class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

               
                
            </div>
        </section> {% endcomment %}

        <!-- form -->
        <section class="flat-spacing-21">
            <div class="container">
                <div class="tf-grid-layout gap30 lg-col-2">
                    <div class="tf-content-left">
                        <h5 class="mb_20">Visit Our Store</h5>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Address</strong></p>
                            <p>Near mims hospital khaleej mall calicut, Kozhikode, India, Kerala</p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Phone</strong></p>
                            <p>+91 94474 25555</p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Email</strong></p>
                            <p>hello@baladperfume.com</p>
                        </div>
                        <div class="mb_36">
                            <p class="mb_15"><strong>Open Time</strong></p>
                            <p class="mb_15">Our store is open for shopping:</p>
                            <p>Every day from 09:30 AM to 09:00 PM</p>
                        </div>
                        <div>
                            <ul class="tf-social-icon d-flex gap-20 style-default">
                                <li><a href="https://www.facebook.com/baladperfume/" target="_blank" class="box-icon link round social-facebook border-line-black"><i class="icon fs-14 icon-fb"></i></a></li>
                                <li><a href="https://www.instagram.com/baladperfume/" target="_blank" class="box-icon link round social-instagram border-line-black"><i class="icon fs-14 icon-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/@baladperfume" target="_blank" class="box-icon link round social-pinterest border-line-black"><i class="icon fs-14 icon-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tf-content-right">
                        <h5 class="mb_20">Get in Touch</h5>
                        <p class="mb_24">If you’ve got great products your making or looking to work with us then drop us a line.</p>
                        <div>
                            <form class="form-contact" id="contactForm" action="" method="post">
                                {% csrf_token %}
                                <div class="d-flex gap-15 mb_15">
                                    <fieldset class="w-100">
                                        {{ form.name }}
                                    </fieldset>
                                    <fieldset class="w-100">
                                        {{ form.email }}
                                    </fieldset>
                                </div>
                                <div class="d-flex gap-15 mb_15">
                                    <fieldset class="w-100">
                                        {{ form.phone }}
                                    </fieldset>
                                </div>
                                <div class="d-flex gap-15 mb_15">
                                    <fieldset class="w-100">
                                        {{ form.subject }}
                                    </fieldset>
                                </div>
                                <div class="mb_15">
                                    {{ form.message }}
                                </div>
                                <div class="send-wrap">
                                    <button type="submit" class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">
                                        Send
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /form -->

        <!-- map -->
        <div class="w-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d125883.7937528102!2d77.167543!3d9.606585!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b065516fbf48fc5%3A0x38d4930c20c92cc8!2zQkFMQUQgUEVSRlVNRVMgKOC0rOC0suC0puC1jSDgtKrgtYbgtbzgtKvgtY3gtK_gtYLgtILgtLjgtY0p!5e0!3m2!1sen!2sin!4v1739770675976!5m2!1sen!2sin" width="100%" height="440" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- /map -->
        

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.all.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const contactForm = document.getElementById("contactForm");

        contactForm.addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the default form submission
            const formData = new FormData(contactForm);

            fetch(contactForm.action, {
                method: "POST",
                body: formData,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "true") {
                    Swal.fire({
                        icon: "success",
                        title: data.title,
                        text: data.message,
                    });
                    contactForm.reset(); // Reset the form if successful
                } else {
                    Swal.fire({
                        icon: "error",
                        title: data.title,
                        html: Array.isArray(data.message)
                            ? data.message.join("<br>")
                            : data.message,
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "An unexpected error occurred. Please try again.",
                });
                console.error("Error:", error);
            });
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<script src="{% static 'web/js/product_detail.js' %}"></script>
<div id="cart-modal" style="">
    {% include "web/includes/cart_modal.html" %}
</div>
<script src="{% static 'web/js/shop-filter.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.all.min.js"></script>
{% include "web/includes/search.html" %}
{% endblock %}
{% endblock %}